* {
	margin: auto;
	box-sizing: border-box;
}

body {
	background: url(seamless-pattern-weather-symbols-multicolored-checkered-background-38926613.png) no-repeat;
	background-size: cover;
}

.container {
	width: 600px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 100px;
}

.js-starting-form h1 {
	padding-bottom: 20px;
}

.hidden {
    display: none
}

.js-search-results {
	padding-bottom: 20px;
}

button {
	margin-top: 20px;
	margin-bottom: 20px;
}

p {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

p:hover {
	cursor: pointer;
}

button:hover {
	cursor: pointer;
	color: blue;
}

.image-size {
    width: 250px;
    height: 250px;

}

.js-degrees-fahrenheit {
    color: red
}

.js-degrees-celsius {
    color: blue
}